body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  background-color: #cfcece;
  color: #333;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fffefa;
  border: 2px dashed #999;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

h1, h2 {
  font-size: 1.6rem;
  margin-bottom: 1em;
}

button, .custom-file-upload {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  padding: 14px;
  font-size: 1.1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover, .custom-file-upload:hover {
  background-color: #86f9c3;
  color: black;
}

input[type="file"] {
  display: none;
}

#file-name {
  margin-top: 5px;
  font-size: 0.9rem;
  color: green;
}

.notice {
  font-size: 0.85rem;
  color: #555;
  margin-top: 15px;
  font-style: italic;
}

.loader {
  width: 40px;
  height: 26px;
  --c:no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0    100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  background-size:8px calc(100% - 4px);
  position: relative;
  margin: auto;
}
.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  left: 0;
  top: 0;
  animation: 
    l3-1 1.5s linear infinite alternate,
    l3-2 0.75s cubic-bezier(0,200,.8,200) infinite;
}
@keyframes l3-1 {
  100% { left:calc(100% - 8px) }
}
@keyframes l3-2 {
  100% { top:-0.1px }
}


#uploading {
  display: none;
}

#preview-image {
  display: none;
  max-width: 300px;
  width: 100%;
  border: 1px dashed #999;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
}
